.btn-link {
   padding: 0;
   border: 0;
   font-weight: $font-weight-bold;
}

.text-brand {
   font-family: $font-family-brand;
}

.tab-separator {
   border-left: 1px $gray-800 solid;
}

.tab-active {
   background-color: $gray-800;
}

.card {
   margin: 0 auto; /* Added */
   float: none; /* Added */
   margin-top: 0px; /* Added */
}
.card-body {
   color: $white;
   font-family: $font-family-serif;
   font-size: $font-size-base * 1.25;
}

.card.bg-primary {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.card.bg-secondary {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.btn-group button {
   font-weight: $font-weight-normal;
}

textarea {
   width: 100%;
   background-color: transparent;

   /* https://stackoverflow.com/a/17110012 */
   border: none;
   overflow: auto;
   outline: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;

   resize: none; /*remove the resize handle on the bottom right*/
}

.card textarea {
   color: $white;
}

.bg-success,
.bg-danger p.lead {
   color: $white;
}
.background-image {
   background-image: url("../img/myAppBackGrnd.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
}

.HeaderLogo {
   background: url("../img/pageLogoBlack.PNG");
   background-repeat: no-repeat;
   background-size: cover;
   width: 200px;
   background-position: center;
   min-height: 100px;
}

.app-contents {
   height: 100vh;
}

.index-logo {
   color: $gray-800;
}

.index-button {
   $primary: $blue;
}

// Index cards

// .card-index {
//    margin-top: 100px;
// }

.landing-text {
   color: $black;
}

.pointer {
   cursor: pointer;
}

#landingCard {
   background: transparent;
}

.justify-center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
